ol li {
  font: bold 2em Georgia, Times, serif;
  color: #ffc000;
}
ol li p {
  font: normal .8em Arial, Helvetica, sans-serif;
  color: #000000;
}
ol li h3 {
  font: bold 1em Georgia, Times, serif;
  color: #ffc000;
}
ol > li > ol > li p {
  font: normal .8em Arial, Helvetica, sans-serif;
  color: #000000;
}
ol > li > ol > li h3 {
  font: bold 1em Georgia, Times, serif;
  color: #ffc000;
}


p{
    font: normal 1em Arial, Helvetica, sans-serif;
  color: #000000;
}