/** @format */

.header {
  padding: 0;
  margin: 0;
  background-image: url("../asserts/background.jpg");
  background-size: auto 60rem;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50rem;
  max-height: 100rem;
}
